@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@300&display=swap');

.body{
    background-image: "../img/Logos/paisaje.jpeg";
}

#textInformat {
    font-size: 15px;
    font-family:  sans-serif;
}

.card {
    border: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 100%;
    height: 100%;
}


.card img {
    width: auto;
    max-width: 10% !important;
    height: 20% !important;
    border-radius: 8px;
}


.card p {
    padding: 10px;
    line-height: 10px;
    font-size: 20px;
}
