<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<!-- GOOGLE FONTS -->
<link
    href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Quicksand&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/a5d52be292.js"
    crossorigin="anonymous"></script>
<!-- BOOTSTRAP  -->
<link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet" id="bootstrap-css">
<script
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- NAV-BAR  -->
<script src="../js/nav-bar.js"></script>
<!-- ESTILO GLOBAL CSS -->
<link rel="stylesheet" type="text/css" href="./css/style.css">