<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a5d52be292.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet" id="bootstrap-css">
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <!-- para validar los campos del formulario. -->

  </head>
  <body>


    <!--===========Nav Bar=================-->
    <section class="nav-bar">
      <nav class="navbar navbar-expand-sm">
        <div class="logo" style="color: #52BFB7;"> <img
          src="../img/Logos/Logotipo2.png"  width="50" height="50" class="img-fluid" alt=""  style="  margin-right: 10px;">ViajAR</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbar-list-2" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbar-list-2">
          <ul class="logos">
            <li>
              <a href="https://www.facebook.com/"> <img
                  src="./img/Logos/facebook.svg" alt="Facebook" width="75"
                  height="50"></a>
              <a href="https://www.instagram.com/"> <img
                  src="./img/Logos/square-instagram.svg" alt="Instagram"
                  width="75"
                  height="50"></a>
            </li>
          </ul>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <!-- <i class="fa fa-home"></i> -->
                Inicio</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patagonia">
                <!-- <i class="fa fa-mountain"></i> -->
                Patagonia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/norte">
                <!-- <i class="fa fa-horse"></i> -->
                Norte</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                href="/contacto">
                <!-- <i class="fa fa-address-card"></i> -->
                Contacto</a></li>
          </ul>
          <ul class="nav-item-right">
            <li class="nav-item">
              <!-- <a class="nav-link btn btn-info" -->
              <a class="nav-link btn "
                style="background-color: #e59b54;color: white;"
                href="/login">
                <i class="fa fa-user-circle-o"></i> | Iniciar Sesión
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    
    <div class="blur-bg"></div>

    <section id="SectionBody">
      <div class="container">
         <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">

          <div class=" col-md-8 col-lg-6 col-xl-5">
                <form name="login">
                  <div class="divider d-flex align-items-center my-1">
                    <div class="logo"  style="color: #52BFB7;  position: relative; width: 200px; margin: 0 auto;">
                      <img src="../img/Logos/Logotipo2.png" class="img-fluid" id="logoInit" alt="">ViajAR
                    </div>
                  </div>
                  <p id="textInformat">Para ver tus reservas ingresa o regístrate con el email que realizaste la compra.</p>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" style="color:white; padding-left: 2.5rem; padding-right: 2.5rem; background-color: #ea6422;"
                    onclick="redirectSession()">
                      Iniciar Sesión
                    </button>
                  </div>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                     onclick="redirectRegister()">
                      Registrarse
                    </button>
                  </div>
                </form>
                <br>
                <div class="">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <section class="card text-center" style="font-size: 30px;">
                      <p>
                        <img src="../img/Logos/lista-de-verificacion.png" class="img-fluid"> Chequear el estado de tus reservas.
                      </p>
                      <p>
                        <img src="../img/Logos/etiqueta-de-descuento.png" class="img-fluid"> Acceder a descuentos exclusivos.
                      </p>
                      <p>
                        <img src="../img/Logos/billete-de-avion.png" class="img-fluid"> Descargar los vouchers de tus reservas.
                      </p>
                    </section>
                  </div>
                </div>
              </div>    
            </div>
          </div>
        </section>
      </div>
    </section>
    
        
      </div>
    </section>
    <!--===========Footer=================-->

    <script src="../js/login.js"></script>
  </body>
</html>