<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="viajAR icon" href="./img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./css/cuadriculas.css">
        <link rel="stylesheet" href="./css/style.css">
        <title>Norte</title>
        <script src="https://kit.fontawesome.com/a5d52be292.js"
            crossorigin="anonymous"></script>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet" id="bootstrap-css">
        <script
            src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>

        <main>
            <!--===========Nav Bar=================-->
            <section class="nav-bar">
                <nav class="navbar navbar-expand-sm">
                    <div class="logo">ViajAR</div>
                    <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbar-list-2" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="navbar-list-2">
                        <ul class="logos">
                            <li>
                                <a href="https://www.facebook.com/"> <img
                                        src="./img/Logos/facebook.svg"
                                        alt="Facebook" width="75"
                                        height="50"></a>
                                <a href="https://www.instagram.com/"> <img
                                        src="./img/Logos/square-instagram.svg"
                                        alt="Instagram"
                                        width="75"
                                        height="50"></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <!-- <i class="fa fa-home"></i> -->
                                    Inicio</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/patagonia">
                                    <!-- <i class="fa fa-mountain"></i> -->
                                    Patagonia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/norte">
                                    <!-- <i class="fa fa-horse"></i> -->
                                    Norte</a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                    href="/contacto">
                                    <!-- <i class="fa fa-address-card"></i> -->
                                    Contacto</a></li>
                        </ul>
                        <ul class="nav-item-right">
                            <li class="nav-item">
                                <!-- <a class="nav-link btn btn-info" -->
                                <a class="nav-link btn "
                                    style="background-color: #e59b54;color: white;"
                                    href="/login">
                                    <i class="fa fa-user-circle-o"></i> |
                                    Iniciar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section>

            <section id="Norte" class="destinos">
                <h1> Paisajes Multicolores & Culturas Milenarias</h1>
                <script src="./js/ClimaNorte.js"></script>
                <div class=" cuadricula"> <!-- contenedor -->
                    <div class="item item-1">
                        <p class="tour-item-detail-title">Salta PROMO</p>
                        <img src="./img/Salta.jpg" alt="Salta"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">4 Días / 3
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Salta / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Salta 3 Noches
                            Hotel Hincai</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima1"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>

                    <div class="item item-2">
                        <p class="tour-item-detail-title">Salta & Purmamarca</p>
                        <img src="./img/purmamarca.jpg" alt="Purmamarca"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">6 Días / 5
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Salta / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Salta 3 Noches
                            Hotel Incai</p>
                        <p class="tour-item-detail-subtitle">Purmamarca 2 Noches
                            Hosteria Del Amauta</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima2"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-3">
                        <p class="tour-item-detail-title">Purmamarca e Iruya</p>
                        <img src="./img/purmamarcaIruya.jpg" alt="Purmamarca"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">4 Días / 3
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / jujuy / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Jujuy 3 Noches
                            Apart Hotel Casa de Adobe</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima3"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-4">
                        <p class="tour-item-detail-title">Catamarca Clásica</p>
                        <img src="./img/catamarca.jpg" alt="Catamarca"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">4 Días / 3
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Catamarca / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Catamarca 2 Noches
                            Hotal Amerian</p>
                        <!-- <p class="tour-item-detail-subtitle">Fiambalá 1 Noche Hosteria Fiambalá</p> -->
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Media Pensión</p>
                        <div id="clima4"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-5">
                        <p class="tour-item-detail-title">Jujuy Desconocido</p>
                        <img src="./img/jujuy.jpg" alt="Jujuy"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">6 Días / 5
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Jujuy / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Purmamarca 1 Noche
                            Hosteria Del Amauta</p>
                        <p class="tour-item-detail-subtitle">Cusi Cusi 2 Noches
                            Hostal Rincon del Cusi</p>
                        <p class="tour-item-detail-subtitle">Santa Catalina 2
                            Noches Hostal Don Clemente</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima5"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-6">
                        <p class="tour-item-detail-title">Salinas Grandes,
                            Cafayate & Humauaca</p>
                        <img src="./img/salinasgrandesb.jpg" alt="Salinas"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">6 Días / 5
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Tucumán / Salta / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Tucuman 1 Noche
                            Hotel Carlos V</p>
                        <p class="tour-item-detail-subtitle">Cafayate 1 Noche
                            Hotel Muñay</p>
                        <p class="tour-item-detail-subtitle">Salta 3 Noches
                            Hotel Incai</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima6"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-7">
                        <p class="tour-item-detail-title">Esteros del Iberá</p>
                        <img src="./img/esteros.jpg" alt="Esteros"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">4 Días / 3
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Posadas / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Esteros del Iberá 3
                            Noches Hotel Huella del Iberá</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima7"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                    <div class="item item-8">
                        <p class="tour-item-detail-title">Tucumán Salta &
                            Jujuy</p>
                        <img src="./img/tucuman.jpg" alt="Tucuman"
                            class="tour-item-img" width="470" height="400">
                        <p class="tour-item-detail-subtitle">7 Días / 6
                            Noches</p>
                        <p class="tour-item-detail-subtitle">Pasajes Aereos:
                            Buenos Aires / Tucumán / Salta / Buenos Aires</p>
                        <p class="tour-item-detail-subtitle">Tucuman 1 Noche
                            Hotel Carlos V</p>
                        <p class="tour-item-detail-subtitle">Cafayate 1 Noche
                            Hotel Muñay</p>
                        <p class="tour-item-detail-subtitle">Salta 4 Noches
                            Hotel Incai</p>
                        <p class="tour-item-detail-subtitle">Traslados
                            Aeropuerto / Hotel / Aeropuerto</p>
                        <p class="tour-item-detail-subtitle">Regimen de Comidas
                            Desayuno</p>
                        <div id="clima8"></div>
                        <!-- <a href="./contacto.html" class="btn-info">Reservar</a> -->
                    </div>
                </div>
            </section>
        </main>

        <!--===========Footer=================-->
        <footer class="footer">
            <div class=" links">
                <h3>Enlaces</h3>
                <ul>
                    <!-- <li>Ofertas y Descuentos</li> -->
                    <!-- <li>Obten Beneficios Exclusivos</li> -->
                    <li> <a href="./contacto.html" class> Contáctanos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                </ul>
            </div>
            <!-- <div class="links">
            <h3>Novedades</h3>
            <ul>
                <li>Eventos Exclusivos</li>
                <li>Recuerdos Exclusivos</li>
                <li>Servicios Premium</li>
                <li>Recorridos Personalizados</li>
            </ul>
        </div>
        <div class="links">
            <h3>Ayuda</h3>
            <ul>
                <li>Preguntas Frecuentes</li>
                <li>Reportar un Problema</li>
                <li>Terminos y Condiciones</li>
                <li>Politicas de Privacidad</li>
            </ul>
        </div> -->
        </footer>
    </body>

</html>