<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title>Nosotros</title>
        <script src="https://kit.fontawesome.com/a5d52be292.js"
            crossorigin="anonymous"></script>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet" id="bootstrap-css">
        <script
            src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <!--===========Nav Bar=================-->
        <section class="nav-bar">
            <nav class="navbar navbar-expand-sm">
                <div class="logo">ViajAR</div>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbar-list-2" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbar-list-2">
                    <ul class="logos">
                        <li>
                            <a href="https://www.facebook.com/"> <img
                                    src="./img/Logos/facebook.svg"
                                    alt="Facebook" width="75"
                                    height="50"></a>
                            <a href="https://www.instagram.com/"> <img
                                    src="./img/Logos/square-instagram.svg"
                                    alt="Instagram"
                                    width="75"
                                    height="50"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <!-- <i class="fa fa-home"></i> -->
                                Inicio</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/patagonia">
                                <!-- <i class="fa fa-mountain"></i> -->
                                Patagonia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/norte">
                                <!-- <i class="fa fa-horse"></i> -->
                                Norte</a>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                                href="/contacto">
                                <!-- <i class="fa fa-address-card"></i> -->
                                Contacto</a></li>
                    </ul>
                    <ul class="nav-item-right">
                        <li class="nav-item">
                            <!-- <a class="nav-link btn btn-info" -->
                            <a class="nav-link btn "
                                style="background-color: #e59b54;color: white;"
                                href="/login">
                                <i class="fa fa-user-circle-o"></i> | Iniciar
                                Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <!--===========About Us===============-->
        <section class="about">
            <div class="about-img">
                <img
                    src="https://www.duna.cl/media/2021/08/Juan-Pablo-Mohr-900x600.jpg"
                    alt="Viajar">
            </div>
            <div class="about-text">
                <small>Sobre Nosotros</small>
                <h2>Somos ViajAR la Empresa de Viajes Turisticos más Prestigiosa
                    de Argentina</h2>
                <p>ViajAR es sinónimo de excelencia y lujo en el mundo de los
                    viajes.
                    Con una trayectoria impecable y un enfoque en brindar
                    experiencias inolvidables, se ha ganado una
                    reputación incomparable en la industria.<br>
                    Lo que distingue a ViajAR de otras empresas es su enfoque en
                    la personalización y atención meticulosa a
                    cada detalle.<br>
                    Cada viaje planificado por ViajAR es una obra maestra única
                    y adaptada a los deseos y necesidades
                    individuales de sus clientes más exigentes.<br>
                    Desde el momento en que te pones en contacto con ViajAR, te
                    das cuenta de que estás tratando con
                    profesionales apasionados que se esfuerzan por superar tus
                    expectativas.<br>
                    Su equipo de expertos en viajes está compuesto por asesores
                    altamente capacitados y conocedores,
                    dispuestos a brindar recomendaciones personalizadas y
                    consejos expertos para que tu experiencia sea
                    verdaderamente excepcional.<br>
                    ViajAR tiene una amplia red de socios y proveedores de
                    servicios de primer nivel en Argentina, esto les
                    permite garantizar alojamientos exclusivos en los mejores
                    hoteles y resorts, acceso a eventos y
                    atracciones de élite, transporte de lujo y experiencias
                    gastronómicas inolvidables.<br>
                    La empresa se enorgullece de ofrecer servicios de
                    conserjería de primer nivel, asegurándose de que cada
                    aspecto de tu viaje esté cuidadosamente atendido.<br>
                    Desde la planificación y la logística hasta las reservas de
                    restaurantes y la organización de
                    actividades especiales, ViajAR se encarga de cada detalle
                    para que puedas relajarte y disfrutar de tu
                    viaje al máximo.<br>
                    En resumen, ViajAR es la elección perfecta para aquellos que
                    buscan una experiencia de viaje sin
                    igual.<br>
                    Su compromiso con la excelencia, la atención personalizada y
                    la creación de recuerdos inolvidables los
                    convierte en la empresa de viajes más prestigiosa del mundo.
                </p>

                <label><input type="checkbox" checked>
                    Servicio de Atención al Cliente Excepcional</label>
                <label><input type="checkbox" checked>
                    Servicio de Lujo y Comodidades</label>
                <label><input type="checkbox" checked>
                    Servicio de Gastronomía y Catering de Alta Calidad</label>
                <label><input type="checkbox" checked>
                    Servicios de Entretenimiento y Actividades
                    Exclusivas</label>
                <a href="#">Sobre Nosotros</a>
            </div>
        </section>

        <!--===========Footer=================-->
        <footer class="footer">
            <div class=" links">
                <h3>Enlaces</h3>
                <ul>
                    <!-- <li>Ofertas y Descuentos</li> -->
                    <!-- <li>Obten Beneficios Exclusivos</li> -->
                    <li> <a href="./contacto.html" class> Contáctanos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                </ul>
            </div>
            <!-- <div class="links">
            <h3>Novedades</h3>
            <ul>
                <li>Eventos Exclusivos</li>
                <li>Recuerdos Exclusivos</li>
                <li>Servicios Premium</li>
                <li>Recorridos Personalizados</li>
            </ul>
        </div>
        <div class="links">
            <h3>Ayuda</h3>
            <ul>
                <li>Preguntas Frecuentes</li>
                <li>Reportar un Problema</li>
                <li>Terminos y Condiciones</li>
                <li>Politicas de Privacidad</li>
            </ul>
        </div> -->
        </footer>
    </body>

</html>