<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="viajAR icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/cuadriculas.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Patagonia</title> <!-- elemento title -->

</head>

<body>

    <main>
        <!--===========Nav Bar=================-->
    <section class="nav-bar">
        <div class="logo">ViajAR</div>
        <ul class="logos">
            <li>
            <a href="https://www.facebook.com/"> <img src="./img/Logos/facebook.svg" alt="Facebook" width="75"
                    height="50"></a>
            <a href="https://github.com/"> <img src="./img/Logos/github.svg" alt="GitHub" width="75" height="50"></a>
            <a href="https://www.instagram.com/"> <img src="./img/Logos/square-instagram.svg" alt="Instagram" width="75"
                    height="50"></a>
            <a href="https://www.linkedin.com/"> <img src="./img/Logos/linkedin.svg" alt="Linkedin" width="75"
                    height="50"></a>
            </li>
        </ul>
        <ul class="menu">
            <li><a href="index">Inicio</a></li>
            <li><a href="patagonia">Patagonia</a></li>
            <li><a href="norte">Norte</a></li>
            <li><a href="nosotros">Nosotros</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </section>


        <section id="Patagonia" class="destinos">

            <h1> Glaciares, Lagos , Montañas & Ballenas</h1>
            <script src="./js/ClimaPatagonia.js"></script>


<div class=" cuadricula"> <!-- contenedor -->
            <div class="item item-1">
                <p class="tour-item-detail-title">Bariloche PROMO</p>
                <img src="./img/Bariloche.jpg" alt="Bariloche" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">4 Días / 3 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Bariloche / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Bariloche 3 Noches Hotel Nahuel Huapi</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima1"></div>
            </div>

            <div class="item item-2">
                <p class="tour-item-detail-title">Península Valdés</p>
                <img src="./img/Peninsula-Valdes.jpg" alt="Peninsula" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">4 Días / 3 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Trelew / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Trelew 3 Noches Apart Hotel Los Tulipanes</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima2"></div>
            </div>
            <div class="item item-3">
                <p class="tour-item-detail-title">Esquel, Treveling & Ruta-Galesa</p>
                <img src="./img/Esquel-Trevelin.jpg" alt="Esquel" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">5 Días / 4 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Esquel / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Esquel 4 Noches Apart Hotel Sol del Sur</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima3"></div>
            </div>
            <div class="item item-4">
                <p class="tour-item-detail-title">Ushuaia PROMO</p>
                <img src="./img/Promo-Ushuaia.jpg" alt="Ushuaia" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">4 Días / 3 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Ushuaia / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Ushuaia 3 Noches Apart Hosteria Los Tulipanes</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima4"></div>
                <!-- <a href="./register.html" class="btn-info">Reservar</a> -->
            </div>
            <div class="item item-5">
                <p class="tour-item-detail-title">Bariloche & Villa la Angostura</p>
                <img src="./img/Bariloche-VillaLaAngostura.jpg" alt="Bariloche" class="tour-item-img" width="470"
                    height="400">
                <p class="tour-item-detail-subtitle">6 Días / 5 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Bariloche / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Bariloche 3 Noches Hotel Nahuel Huapi</p>
                <p class="tour-item-detail-subtitle">Villa La Angostura 2 Noches Hotel Roca de la Patagonia</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima5"></div>
            </div>
            <div class="item item-6">
                <p class="tour-item-detail-title">Calafate & El Chalten</p>
                <img src="./img/Calafate-Chalten.jpg" alt="Calafate" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">6 Días / 5 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Calafate / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Calafate 3 Noches Cabañas Solares del Sur</p>
                <p class="tour-item-detail-subtitle">El Chalten 2 Noches Hosteria Vertical Lodge</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima6"></div>
            </div>
            <div class="item item-7">
                <p class="tour-item-detail-title">7 Lagos</p>
                <img src="./img/SieteLagosb.jpg" alt="7 Lagos" class="tour-item-img" width="470" height="400">
                <p class="tour-item-detail-subtitle">8 Días / 7 Noches</p>
                <p class="tour-item-detail-subtitle">Pasajes Aereos: Buenos Aires / Bariloche / Buenos Aires</p>
                <p class="tour-item-detail-subtitle">Bariloche 3 Noches Hotel Nahuel Huapi</p>
                <p class="tour-item-detail-subtitle">Villa La Angostura 2 Noches Hotel Roca de la Patagonia</p>
                <p class="tour-item-detail-subtitle">San Martin de los Andes 2 Noches Hotel Aspen</p>
                <p class="tour-item-detail-subtitle">Traslados Aeropuerto / Hotel / Aeropuerto</p>
                <p class="tour-item-detail-subtitle">Regimen de Comidas Desayuno</p>
                <div id="clima7"></div>
                <!-- <a href="./register.html" class="btn-info">Reservar</a> -->
            </div>
    </div>
</section>
    </main>

    <!--===========Footer=================-->
    <footer class="footer">
        <div class=" links">
        <h3>Enlaces</h3>
        <ul>
            <!-- <li>Ofertas y Descuentos</li> -->
            <!-- <li>Obten Beneficios Exclusivos</li> -->
            <li > <a href="./contacto.html" class=""> Contáctanos</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
        </ul>
        </div>
        <!-- <div class="links">
            <h3>Novedades</h3>
            <ul>
                <li>Eventos Exclusivos</li>
                <li>Recuerdos Exclusivos</li>
                <li>Servicios Premium</li>
                <li>Recorridos Personalizados</li>
            </ul>
        </div>
        <div class="links">
            <h3>Ayuda</h3>
            <ul>
                <li>Preguntas Frecuentes</li>
                <li>Reportar un Problema</li>
                <li>Terminos y Condiciones</li>
                <li>Politicas de Privacidad</li>
            </ul>
        </div> -->
    </footer>

</body>

</html>