<!-- popup.html -->
<style>
    /* Asegúrate de tener estos estilos en tu archivo CSS */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #2d3187;
    border-radius: 50% 20% / 10% 40%;
}
label {
    color:white;
}
h1{
    font-family: "Barlow Condensed";
    color:aquamarine;
}
  .password-icon {
        cursor: pointer;
    }
 </style>

<div id="popup" class="popup" style="display: none;">
    <div class="modal-body">
        <h1 id="accionForm" class="text-center text-uppercase"></h1>
        <form id="editUserForm">
            <div class="form-group">
                <label for="nombrePopUp">Nombre</label>
                <input type="text" id="nombrePopUp" name="nombrePopUp"
                    class="form-control" required>

            </div>
            <div class="form-group">
                <label for="apellidoPopUp">Apellido</label>
                <input type="text" id="apellidoPopUp" name="apellidoPopUp"
                    class="form-control" required>

            </div>
            <div class="form-group">
                <label for="emailPopUp">Correo Electrónico</label>
                <input type="email" id="emailPopUp" name="emailPopUp"
                    class="form-control" required>

                <div id="emailPopUp-error"
                    class="error" style="color: red;"></div>
            </div>
            <div class="form-group">
                <label for="passwordPopUp">Contraseña</label>
                <input type="password" id="passwordPopUp" name="passwordPopUp"
                    class="form-control passwordP col-sm-8" required
                    minlength="6">
                <span id="showPasswordPopUp"
                    class="fa fa-fw fa-eye col-sm-6 password-icon show-password"></span>
            </div>
            <input type="hidden" id="idUsuarioPopUp" name="idUsuarioPopUp">

            <button type="button" id="accionBtn"
                class="btn btn-primary">Guardar</button>

            <button type="button" class="btn btn-cancel"
                onclick="closePopup()">Cancelar</button>
        </form>
    </div>
</div>
