<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/a5d52be292.js"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/session.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet" id="bootstrap-css">
        <script
            src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <style>
      
    </style>
    </head>
    <body>
        <!--===========Nav Bar=================-->
        <section class="nav-bar">
            <nav class="navbar navbar-expand-sm">
                <div class="logo" style="color: #52BFB7;">
                    <img src="../img/Logos/Logotipo2.png" width="50" height="50"
                        class="img-fluid" alt style="margin-right: 10px;">ViajAR
                </div>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbar-list-2" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-list-2">
                    <ul class="logos">
                        <li>
                            <a href="https://www.facebook.com/">
                                <img src="./img/Logos/facebook.svg"
                                    alt="Facebook" width="75"
                                    height="50">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img src="./img/Logos/square-instagram.svg"
                                    alt="Instagram"
                                    width="75" height="50">
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/patagonia">Patagonia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/norte">Norte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                    </ul>
                    <ul class="nav-item-right">
                        <li class="nav-item">
                            <a class="nav-link btn"
                                style="background-color: #e59b54;color: white;"
                                href="/login">
                                <i class="fa fa-user-circle-o"></i> | Iniciar
                                Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <div class="blur-bg"></div>
        <section>
            <div class="container">
                <section class="vh-100">
                    <div class="container-fluid h-custom">

                        <div
                            class="row d-flex justify-content-center align-items-center h-100">

                            <div class="card col-md-8 col-lg-6 col-xl-5">

                                <form name="register">
                                    <div
                                        class="divider form-outline mb-4 text-center position-relative">
                                        <img src="../img/Logos/planet.png"
                                            alt="Earth image"
                                            style="width: 100px; height: auto;"
                                            class="img-fluid rotating-earth">
                                        <img src="../img/Logos/airplane.png"
                                            alt="Airplane image"
                                            style="width: 50px; height: auto;  "
                                            class="img-fluid airplane">
                                    </div>
                                    <!-- Nombre input -->
                                    <div data-mdb-input-init
                                        class="form-outline ">
                                        <label class="form-label"
                                            for="nombre">Nombre</label>
                                        <input type="text" name="nombre"
                                            class="form-control form-control-lg"
                                            id="nombre"
                                            placeholder="Ingese nombre ">
                                        <div id="nombre-error"
                                            class="error"></div>
                                    </div>
                                    <!-- apellido input -->
                                    <div data-mdb-input-init
                                        class="form-outline ">
                                        <label class="form-label"
                                            for="apellido">Apellido</label>
                                        <input type="text" name="apellido"
                                            class="form-control form-control-lg"
                                            id="apellido"
                                            placeholder="Ingese apellido ">
                                        <div id="apellido-error"
                                            class="error"></div>
                                    </div>
                                    <!-- Email input -->
                                    <div data-mdb-input-init
                                        class="form-outline">
                                        <label class="form-label"
                                            for="email">Email</label>
                                        <input type="email" name="email"
                                            class="form-control form-control-lg"
                                            id="email"
                                            placeholder="Ingese email ">
                                        <div id="email-error"
                                            class="error"></div>
                                    </div>
                                    <!-- Password input -->
                                    <div data-mdb-input-init
                                        class="form-outline mb-3">
                                        <label class="form-label"
                                            for="password">Contraseña</label>
                                        <input type="password" name="password"
                                            class="form-control form-control-lg password1"
                                            placeholder="Ingrese contraseña"
                                            id="contraseña" />
                                        <span
                                            class="fa fa-fw fa-eye password-icon show-password"></span>
                                        <div id="password-error" class="error"
                                            style="color: red;"></div>
                                    </div>

                                    <div
                                        class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit"
                                            data-mdb-button-init
                                            data-mdb-ripple-init
                                            class="btn btn-primary btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!--===========Footer=================-->
            <script src="../js/register.js"></script>
        </body>
    </html>
